// media-queries

/*large devices, wide screens*/
@mixin large-screen() {
  @media only screen and (max-width: 1200px){
    @content;
  }
}

@mixin medium-large-screen() {
  @media only screen and (min-width: 993px){
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 992px){
    @content;
  }
}

@mixin medium-small-screen() {
  @media only screen and (min-width: 768px) and (max-width: 992px){
    @content;
  }
}

/*small devices, tablets*/
@mixin small-screen() {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin small-screen--up() {
  @media only screen and (min-width: 768px){
    @content;
  }
}

/*extra small devices, phones*/
@mixin tiny-screen() {
  @media only screen and (max-width: 480px){
    @content;
  }
}

//sections

//section advantages
@mixin advantagesCard {
  margin: 0 auto 30px auto;
  width: 79px;
  height: 60px;
  background: url(../../img/advantageSprite.png) no-repeat;
}

//section projects
@mixin projectsBg {
  height: 350px;
  max-width: 553px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;

  &:hover {
    .projects__content {
      opacity: .7;
    }
    .projects__link {
      opacity: 1!important;
    }
  }
}

//section header and download
@mixin siteBtn{
  &__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: $btn-bg-color;
    border-radius: 3px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}
