// media-queries

@mixin large-screen() {
  @media only screen and (max-width: 1200px){
    @content;
  }
}

@mixin medium-large-screen() {
  @media only screen and (min-width: 992px){
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 991px){
    @content;
  }
}

@mixin medium-small-screen() {
  @media only screen and (min-width: 768px) and (max-width: 991px){
    @content;
  }
}

@mixin small-screen() {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin small-screen--up() {
  @media only screen and (min-width: 768px){
    @content;
  }
}

@mixin tiny-screen() {
  @media only screen and (max-width: 480px){
    @content;
  }
}

@mixin testimonials-text-break() {
  @media only screen and (min-width: 991px) and (max-width: 1091px){
    @content;
  }
}

@mixin testimonials-text-break-tiny() {
  @media only screen and (max-width: 391px){
    @content;
  }
}


//sections

//section features
@mixin featuresCard {
  width: 79px;
  height: 60px;
  margin: 0 auto 30px auto;
  background: url(../img/featureSprite.png) no-repeat;
}

//section works
@mixin worksBg {
  height: 350px;
  max-width: 553px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;

  &:hover {
    .works__content {  opacity: .7;  }
    
    .works__link {  opacity: 1!important;  }
  }
}

//section header and download
@mixin siteBtn {
  &__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: $btn-bg-color;
    border-radius: 3px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

//general rouls
@mixin linkTransition {  transition: background-color .7s;  }
