// colors

$btn-bg-color: #e84545;
$btn-bg-color-hover: #f69393;
$testimonials-bg-color: #53354a;
$footer-bg-color: #3a3e64;
$copyright-bg-color: #313454;
$copyright-text-color: #808080;
$features-link-color: #2d3033;
$features-content-color: #6c7279;

// sizes

$site-width-first: 1900px;
$site-width-second: 1170px;



