      // colors
$btn-bg-color: #e84545;
$clients-bg-color: #53354a;
$footer-bg-color: #3a3e64;
$copyright-bg-color: #313454;
$work-overlay-color: #e85351;

      // sizes
$nav-height: 113px;
$site-width-second: 1170px;
$site-width-first: 1900px;


