// colors

$btn-bg-color: #e84545;
$clients-bg-color: #53354a;
$footer-bg-color: #3a3e64;
$copyright-bg-color: #313454;
$work-overlay-color: #e84545;
$advantages-link-color: #2d3033;
$advantages-content-color: #6c7279;

// sizes

$site-width-first: 1900px;
$site-width-second: 1170px;


