body {
  font-family: 'Raleway', sans-serif;
  color: #6c7279;
  font-size: 14px;
  background: #fff;
  font-weight: 400;
  min-width: 320px;
}

.wrap {
  max-width: 1900px;
}

img{
  max-width: 100%;
  height: auto;
}