@import "../base/variables";
@import "../base/mixins";

.projects {
  max-width: $site-width-first;
  margin: 0 auto 100px auto;

  &__bg--1 {
    background-image: url(../img/project-1.jpg);
    @include projectsBg();
  }

  &__bg--2 {
    background-image: url(../img/project-2.jpg);
    @include projectsBg();
  }

  &__bg--3 {
    background-image: url(../img/project-3.jpg);
    @include projectsBg();
  }

  &__bg--4 {
    background-image: url(../img/project-4.jpg);
    @include projectsBg();
  }

  &__bg--5 {
    background-image: url(../img/project-5.jpg);
    @include projectsBg();
  }

  &__bg--6 {
    background-image: url(../img/project-6.jpg);
    @include projectsBg();
  }

  &__bg--7 {
    background-image: url(../img/project-7.jpg);
    @include projectsBg();
  }

  &__bg--8 {
    background-image: url(../img/project-8.jpg);
    @include projectsBg();
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #d23f3f;
    opacity: 0;
    transition: opacity .7s ease-in;
  }

  &__link {
    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #fff;

    &:hover {  color: #fff;  }

    &:link {  color: #fff;  }

    &:visited {  color: #fff;  }

    h3 {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 5px;
    }

    p {  text-transform: capitalize;  }
  }
}