@import "../base/variables";
@import "../base/mixins";

.team {

  &__content {  margin: 0 auto 100px auto;

    p {
      margin: 0 auto 25px auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-indent: 15px;
      color: $advantages-content-color;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    margin-top: 32px;
    font-weight: 400;
    font-size: 22px;
    color: $advantages-link-color;
    text-transform: capitalize;

    @include small-screen() {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-size: 13px;
    color: $btn-bg-color;
    text-transform: uppercase;

    @include small-screen() {  text-align: center;  }

    &__ico {

      @include small-screen() {  text-align: center;  }

      a {
        display: inline-block;
        margin-right: 3px;
        padding: 8px 12px;
        font-size: 18px;
        color: #c6cacc;
        border: 1px solid #e8ecee;

        &:hover {  background-color: $btn-bg-color;  }
      }

      a:first-child {  padding: 8px 15px;  }
    }
  }
}