@import "../base/variables";
@import "../base/mixins";

.advantages {
  margin-bottom: 100px;

  &__content {
    height: 190px;
    margin-bottom: 70px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    overflow: hidden;
  }

  &__content p {
    color: $advantages-content-color;
    line-height: 21px;
  }

  &__card--1 {
    @include advantagesCard;
    background-position: 10px 0;
  }

  &__card--2 {
    @include advantagesCard;
    background-position: -115px 0;
  }

  &__card--3 {
    @include advantagesCard;
    background-position: -217px 0;
  }

  &__card--4 {
    @include advantagesCard;
    background-position: 6px -87px;
  }

  &__card--5 {
    @include advantagesCard;
    background-position: -114px -87px;
  }

  &__card--6 {
    @include advantagesCard;
    background-position: -218px -87px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    color: $advantages-link-color;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $advantages-link-color;
      text-decoration: underline;
    }

    &:visited{
      color: $advantages-link-color;
    }
  }
}