@import "../base/variables";
@import "../base/mixins";

.clients {
  max-width: $site-width-first;
  margin: 0 auto 100px auto;

  &__img {
  }
}

.swiper-container {
  width: 100%;
  height: 500px;
}

.slide1 {
  padding: 0;
  background-color: #00b3ee;
}

.slide2 {
  padding: 0;
  background-color: #2b542c;
}
.slide11 {
  background: url("../../img/clients.jpg") no-repeat center;
}





