@import "../base/variables";
@import "../base/mixins";

.download {
  margin: 0 auto 100px auto;
  text-align: center;

  @include siteBtn;
  &__btn {  padding: 11px 81px;

    @include linkTransition();

    &:hover {
      background: $btn-bg-color-hover;
    }
  }

  &__title {
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 21px;
    color: $advantages-link-color;

    @include small-screen() {  line-height: 28px;  }
  }

  &__subtitle {
    margin: 0 0 37px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: $advantages-link-color;
  }
}